{% extends "socialaccount/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/google.css' %}">
{% endblock %}



{% block content %}
<main>
    <form method="post">
        {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account.{% endblocktrans %}</p>
        {% else %}
        <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account.{% endblocktrans %}</p>
        {% endif %}
        {% csrf_token %}
        <input type="submit" value="Continue"></input>
        <p><a href="{% url 'index' %}">Back</a></p>
    </form>
</main>
{% endblock %}
