{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <main class="main-account">
        <h1>{% trans "Forgotten your password?" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>Plase write us at <a href="mailto:recovery{{ SITE_EMAIL }}">recovery{{ SITE_EMAIL }}</a>, if you need assistance recovering your account.</p>
        <p>In your email, kindly provide the label in which you have worked the most pomodoros, so we can verify your ownership of the account.</p>
        <br>
        <p>If you are unable to remember the label, feel free to reach out to <a href="mailto:recovery{{ SITE_EMAIL }}">recovery{{ SITE_EMAIL }}</a>
        and we will do our best to assist you.</p>
    </main>
{% endblock %}