{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    {% block script %}{% endblock %}
  </head>
  <body>
    {% block body %}
        <nav class="navbar" id="navbar">
            <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'app/images/pomotracker_logo.png' %}" alt="PomoTracker Logo"></a>
            <div>
                <ul id="topnav" class="topnav">
                    <li id="lightbulb" style="display: block">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-lightbulb-on" width="60" height="60" viewBox="0 0 24 24" fill="#ebebeb">
                            <path d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z"/>
                        </svg>
                    </li>
                    <li id="moon" style="display: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-moon-waxing-crescent" width="40" height="40" viewBox="0 0 24 24" fill="#3c3c3c">
                            <path d="M12 2A9.91 9.91 0 0 0 9 2.46A10 10 0 0 1 9 21.54A10 10 0 1 0 12 2Z"/>
                        </svg>
                    </li>
                    <li>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round" id="slider"></span>
                        </label>
                    </li>
                    <li><a href="{% url 'leaderboard' period='month' %}">Leaderboards</a></li>
                    <li class="icon">
                        <img src="{% static 'app/images/menu.svg' %}" alt="">
                    </li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">Sign In</a></li>
                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    <footer>
        <div class="block 1">
            <div class="top">
                <div class="left">
                    <p><u>Please consider support the project</u></p>
                    <p><a href="">API Reference</a></p>
                    <p><a href="">Statistics</a></p>
                </div>
                <a href="https://www.buymeacoffee.com/davidyunta" target="_blank">
                    <img src="{% static 'app/images/coffee.jpg' %}" alt="Buy me a coffee">
                </a>
            </div>
            <div class="bottom">
                <p>This application is not affiliated, associated or endorsed by the Pomodoro Technique® or Francesco Cirillo.</p>
                <p>The Pomodoro Technique® and Pomodoro™ are registered trademarks by Francesco Cirillo.</p>
            </div>
        </div>
        <div class="block 2">
            <p><a href="{% url 'privacy' %}">Privacy policy</a></p>
            <p><a href="{% url 'terms' %}">Terms and conditions</a></p>
            <p><a href="mailto:contact@pomotracker.app">contact@pomotracker.app</a></p>
            <p><a href="https://github.com/viodid/PomoTracker">PomoTracker</a> - version 0.1.0</p>
        </div>
    </footer>
  </body>
</html>
