trigger:
  - main

variables:
  - group: "common"
  - name: IMAGE_NAME
    value: pomotracker
  - name: DOCKER_COMPOSE_FILE
    value: docker-compose.prod.yml

pool:
  vmImage: ubuntu-latest


stages:
  - stage: Build
    jobs:
      - job: Build
        displayName: Build docker images and push to docker hub
        steps:
          - task: Docker@2
            displayName: Build and push pomotracker docker image
            inputs:
              containerRegistry: '$(CR_SERVICE_CONNECTION)'
              repository: '$(DOCKER_REPO)/$(IMAGE_NAME)'
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: |
                $(Build.BuildId)
                latest

  - stage: Deploy
    jobs:
      - job: Deploy
        displayName: Deploy to VM via ssh
        steps:
          - task: CopyFilesOverSSH@0
            displayName: Copy docker-compose file over ssh
            inputs:
              sshEndpoint: '$(SSH_SERVICE_CONNECTION)'
              contents: '$(DOCKER_COMPOSE_FILE)'
              targetFolder: '~/pomotracker/pomotracker_build_files'
              readyTimeout: '20000'
              failOnEmptySource: true

          - task: SSH@0
            displayName: Run docker-compose up
            inputs:
              sshEndpoint: '$(SSH_SERVICE_CONNECTION)'
              runOptions: 'commands'
              commands: |
                docker compose -f ~/pomotracker/pomotracker_build_files/docker-compose.prod.yml down &>/dev/null ; echo $?
                bash ~/pomotracker/rm_img_docker.sh viodid/pomotracker latest pomotracker.app
                bash ~/pomotracker/rm_img_docker.sh viodid/pomotracker-nginx latest pomotracker.app
                docker compose -f ~/pomotracker/pomotracker_build_files/docker-compose.prod.yml up -d &>/dev/null ; echo $?
