version: '3.8'

services:
  redis:
    image: redis:alpine
    expose:
      - 6379
    networks:
      - pomotracker-network
    restart: always

  app:
    image: viodid/pomotracker:latest
    command: gunicorn PomoTracker.wsgi:application --bind 0.0.0.0:80 --timeout 600 --workers 3
    env_file:
      - /home/azuredevops/pomotracker_build_files/.env
    volumes:
      - static_volume:/home/app/pomotracker/staticfiles
    expose:
      - 80
    networks:
      - pomotracker-network
    restart: always
    depends_on:
      - redis

  nginx:
    image: viodid/pomotracker-nginx:latest
    ports:
      - 1337:80
    volumes:
      - static_volume:/home/app/pomotracker/staticfiles
    depends_on:
      - app
    networks:
      - pomotracker-network
    restart: always

networks:
  pomotracker-network:
    driver: bridge

volumes:
  static_volume:
