[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
pytz = "*"
pillow = "*"
pipfile = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.11"
