{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
Pomodoros
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'app/charts.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'app/theme_toggle_script.js' %}" type="module"></script>
<script src="{% static 'app/pomodoros.js' %}" type="module"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'app/charts.js' %}" type="module"></script>
{% endblock %}

{% block content %}
{% endblock %}


{% block body %}
<main>
  <div class="first-char-container">
    <div id="bar-chart-left" class="chart"></div>
    <div id="bar-chart-right" class="chart"></div>
    <div id="pie-chart" class="chart half pie"></div>
  </div>
</main> 
{% endblock body %}

