{% extends 'app/layout.html' %}

{% block title %}
    Leaderboards |
{% endblock %}

{% block body %}
<main>
    <div class="leaderboard-container">
        <ul class="header">
            <li>
                <a href="{% url 'leaderboar' period='day' %}">Day</a>
            </li>
            <li>
                <a href="{% url 'leaderboar' period='week' %}">Week</a>
            </li>
            <li>
                <a href="{% url 'leaderboar' period='month' %}">Month</a>
            </li>
            <li>
                <a href="{% url 'leaderboar' period='year' %}">Year</a>
            </li>
            <li>
                <a href="{% url 'leaderboar' period='all' %}">Total</a>
            </li>
        </ul>
        <ol class="leaderboard-user-container">
            {% for pomodoros in pomos %}
                {% if pomodoros.count > 0 %}
                    <li class="user-leaderboard">
                        <p>{{ pomodoros.first.user }}</p>
                        <p>{{ pomodoros.count }}</p>
                    </li>
                {% endif %}

            {% endfor %}
        </ol>
    </div>

</main>
{% endblock %}