{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
    Leaderboards -
{% endblock %}

{% block script %}
    <script src="{% static 'app/leaderboard.js' %}" type="module"></script>
{% endblock %}

{% block body %}
<main>
<div class="leaderboard-main-container">
    <div class="leaderboard-container">
        <ul class="header">
            <li>
                <a href="{% url 'leaderboard' period='day' %}" id="day-leaderboard">Day</a>
            </li>
            <li>
                <a href="{% url 'leaderboard' period='week' %}" id="week-leaderboard">Week</a>
            </li>
            <li>
                <a href="{% url 'leaderboard' period='month' %}" id="month-leaderboard">Month🏆</a>
            </li>
            <li>
                <a href="{% url 'leaderboard' period='year' %}" id="year-leaderboard">Year</a>
            </li>
            <li>
                <a href="{% url 'leaderboard' period='all' %}" id="all-leaderboard">Total</a>
            </li>
        </ul>
        <ol class="leaderboard-user-container">
            {% for pomodoros in pomos %}
                {% if pomodoros.count > 0 %}
                    <li class="user-leaderboard">
                        <div class="left">
                            <img src="{{ pomodoros.first.user.settings.image.url }}" alt="profile picture" class="user-profile-img">
                            <p><a href="{% url 'profile' username=pomodoros.first.user.username  %}">{{ pomodoros.first.user.username }}</a></p>
                            <div class="rewards-container">
                                {% if pomodoros.first.user.rewards.gold %}
                                    <span class="rewards">🥇{{ pomodoros.first.user.rewards.gold }}</span>
                                {% endif %}
                                {% if pomodoros.first.user.rewards.silver %}
                                    <span class="rewards">🥈{{ pomodoros.first.user.rewards.silver }}</span>
                                {% endif %}
                                {% if pomodoros.first.user.rewards.bronze %}
                                    <span class="rewards">🥉{{ pomodoros.first.user.rewards.bronze }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <p class="right">{{ pomodoros.count }}</p>
                    </li>
                {% endif %}

            {% endfor %}
        </ol>
    </div>
    <div class="leaderboard-container explanation">
        <p class="title">Leaderboard rewards</p>
        <br>
        <p>The leaderboard rewards consist of little trophies displayed next to the username.</p>
        <p>Whether you finish first🥇, second🥈, or third🥉, at the end of each <b>month</b>.</p>
        <br>
        <p>The rewards are visible for everyone.</p>
    </div>
</div>

</main>
{% endblock %}