{% extends 'app/layout.html' %}

{% block title %}
    Leaderboards -
{% endblock %}

{% block body %}
<main>
<div class="leaderboard-main-container">
    <div class="leaderboard-container">
        <ul class="header">
            <li>
                <a href="{% url 'leaderboar' period='day' %}">Day</a>
            </li>
            <li>
                <a href="{% url 'leaderboar' period='week' %}">Week</a>
            </li>
            <li>
                <a href="{% url 'leaderboar' period='month' %}">Month</a>
            </li>
            <li>
                <a href="{% url 'leaderboar' period='year' %}">Year</a>
            </li>
            <li>
                <a href="{% url 'leaderboar' period='all' %}">Total</a>
            </li>
        </ul>
        <ol class="leaderboard-user-container">
            {% for pomodoros in pomos %}
                {% if pomodoros.count > 0 %}
                    <li class="user-leaderboard">
                        <div class="left">
                            <img src="{{ pomodoros.first.user.settings.image.url }}" alt="profile picture" class="user-profile-img">
                            <p><a href="{% url 'profile' username=pomodoros.first.user.username  %}">{{ pomodoros.first.user.username }}</a></p>
                        </div>
                        <p class="right">{{ pomodoros.count }}</p>
                    </li>
                {% endif %}

            {% endfor %}
        </ol>
    </div>
    <div class="leaderboard-container explanation">
        <p class="title">Leaderboard rewards</p>
        <br>
        <p>The leaderboard rewards consist of little trophies displayed next to the username.</p>
        <p>Whether you finish first🥇, second🥈, or third🥉, at the end of each <b>month</b>.</p>
        <br>
        <p>The rewards are visible for everyone.</p>
    </div>
</div>

</main>
{% endblock %}