{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
    Pomodoros
{% endblock %}

{% block script %}
    <script src="{% static 'app/theme_toggle_script.js' %}" type="module"></script>
{% endblock %}


{% block body %}
   <main>
        <div class="pomodoros-container">
            <ul class="header">
                <li>Tag</li>
                <li>Time</li>
            </ul>
            <div class="body">
                {% for pomodoro in pomodoros %}
                    {% if forloop.last %}
                        <div class="cell last">
                            <span class="left">{{ pomodoro.tag }}</span>
                            <span class="left">{{ pomodoro.datetime | date:"h:i A" }} <span id="edit-pomo">Edit</span> <span id="delete-pomo">Delete</span></span>
                        </div>
                    {% else %}
                        <div class="cell">
                            <span class="left">{{ pomodoro.tag }}</span>
                            <span class="left">{{ pomodoro.datetime | date:"h:i A"}} <span id="edit-pomo">Edit</span> <span id="delete-pomo">Delete</span></span>
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="cell last">
                        <span class="left">No pomodoros to show</span>
                        <span class="left"></span>
                    </div>
                {% endfor %}
            </div>
        </div>
   </main> 
{% endblock body %}
    
