{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
{{ userProfile.username }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'app/charts.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'app/theme_toggle_script.js' %}" type="module"></script>
{% if not display %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'app/charts.js' %}" type="module"></script>
{% endif %}
{% endblock %}

{% block content %}
{% endblock %}

{% block body %}
<main>
  <div class="user-profile">
    <div class="header-profile">
      <div class="left">
        <img src="{{ userProfile.settings.image.url }}" alt="Profile image" class="user-profile-img">
        <p class="title">{{ userProfile.username }}</p>
        {% if userProfile.rewards.gold %}
        <span class="rewards">&#129351;{{ userProfile.rewards.gold }}</span>
        {% endif %}
        {% if userProfile.rewards.silver %}
        <span class="rewards">&#129352;{{ userProfile.rewards.silver }}</span>
        {% endif %}
        {% if userProfile.rewards.bronze %}
        <span class="rewards">&#129353;{{ userProfile.rewards.bronze }}</span>
        {% endif %}
      </div>
      <div class="right">
        <p title="Average Rank" id="first"><span>&#128310;</span>{{ userProfile.rewards.getAverageRank }}</p>
        <p title="Average Pomodoros per day"><span>&#128310;</span>{{ averagePomos }}</p>
      </div>
    </div>
    {% if display %}
    <div class="settings-profile">
      <h2>{{ userProfile.username | title }} Settings</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
      </form>
    </div>
    {% else %}
    <div class="first-char-container">
      <div id="bar-chart-left" class="chart"></div>
    </div>
    <div class="flex-third">
      <div class="third-graph">
        <div class="graph">
          <ul class="months">
            <li>Jan</li>
            <li>Feb</li>
            <li>Mar</li>
            <li>Apr</li>
            <li>May</li>
            <li>Jun</li>
            <li>Jul</li>
            <li>Aug</li>
            <li>Sep</li>
            <li>Oct</li>
            <li>Nov</li>
            <li>Dec</li>
          </ul>
          <ul class="days">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>
          <ul class="squares">
            <!-- added via javascript -->
          </ul>
        </div>
        <p class="tag-squares">Hover on cells to display more info</p>
      </div>
      <div class="buttons-index-graph">
        {% now "Y" as this_year %}
        <span data-year="{{ this_year }}">{{ this_year }}</span>
        <span data-year="{{ this_year|add:"-1" }}">{{ this_year|add:"-1" }}</span>
        <span data-year="{{ this_year|add:"-2" }}">{{ this_year|add:"-2" }}</span>
      </div>
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}
