body {
  /* color levels charts */
  --level-1: #3b300c;
  --level-2: #554411;
  --level-3: #8f6f1c;
  --level-4: #b9962c;
}

body.white {
  /* color levels charts */
  --level-4: #ffc40e;
  --level-3: #ffd874;
  --level-2: #ffe492;
  --level-1: #fff4ce;
}

body.forest {
  /* color levels charts */
  --level-1: #727055;;
  --level-2: #959473;;
  --level-3: #bebb8f;;
  --level-4: #EAE7B1;;
}

body.aquamarine {
    /* color levels charts */
    --level-1: #076363;
    --level-2: #0b8787;
    --level-3: #0fb2b2;
    --level-4: #17dcdc;
}

body.garnet {
    /* color levels charts */
    --level-1: #3e0d0c;
    --level-2: #59100e;
    --level-3: #7c1816;
    --level-4: #9d1e1b;
}

body.coral {
    /* color levels charts */
    --level-1: #72624c;
    --level-2: #947e61;
    --level-3: #ceb086;
    --level-4: #FAD6A5;
}
/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */

:root {
  --square-size: 20px;
  --square-gap: 1px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
  display: inline-grid;
  grid-template-areas: "empty months"
                       "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}


/* Other styling */
.graph {
  padding: 20px;
  border: var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
}

.buttons-index-graph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.buttons-index-graph span {
  padding: 8px 25px;
  margin: 0px 10px 14px 10px;
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.buttons-index-graph span:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.buttons-index-graph span:active {
  background-color: var(--softest-color);
  transform: translateY(2px);
  box-shadow: none;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: var(--tertiary-color);
  list-style-type: none;
  border-radius: 1.5px;
  margin: 0.2px;
}

.squares li:hover {
  border: 1px solid var(--text-color);
}

.squares li[data-level="1"] {
  background-color: var(--level-1);
}

.squares li[data-level="2"] {
  background-color: var(--level-2);
}

.squares li[data-level="3"] {
  background-color: var(--level-3);
}

.squares li[data-level="4"] {
  background-color: var(--level-4);
}

.tag-squares {
  font-size: 1.1rem;
  margin-top: 10px;
  text-align: center;
}

/* Bar chart */

.chart {
  border-radius: var(--border-radius);
  width: 100%;
  height: 300px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  margin: 40px auto;
}

.half {
  width: 47%;
}

.pie {
  height: 400px;
}

/* Loading index icon */
#loading-container {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  position: absolute;
  margin-top: 100px;
  margin-right: 91px;
  transition: visibility 0s, opacity 0.2s linear;
}

.loading-icon {
  animation: spin 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  margin: 0 auto;
}

.loading-icon>img {
  width: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading-container>p {
  margin-top: 5px;
}


/* Responsive */
@media screen and (max-width: 816px) {
    .flex-third {
        display: none;
    }
    .first-chart-container > div {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 816px) {
    :root {
        --square-size: 9px;
        --square-gap: 0.5px;
    }

    .squares li {
        margin: 0.15px;
    }

    #loading-container {
        margin-top: 76px;
    }

    .loading-icon>img {
        width: 30px;
    }
}

@media screen and (max-width: 1506px) and (min-width: 1024px) {
    :root {
        --square-size: 11px;
        --square-gap: 0.5px;
    }

    .squares li {
        margin: 0.15px;
    }

    #loading-container {
        margin-top: 76px;
    }

    .loading-icon>img {
        width: 40px;
    }
}

