*{
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    color: #dedbd7;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 150px;
}

::-webkit-input-placeholder{
    font-size: 14px;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border: 1px solid #f1c232;
    outline: none;
}

.remember-me{
    text-align: left;
}


input[type="submit"]{
    width: 100%;
    background: #f1c232;
    padding: 10px;
    color: #181a1b;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

input[type="submit"]:hover {
    background-color: #c69e25;
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: #9a7d27;
}

a:visited {
    color: inherit;
}
